<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="keywords" content="Influence, Influence Eth, defi game, play to earn, p2e, space strategy,
    external tool">
    <meta name="description" content="Orbit Mapper is a tool ">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0">
    <meta name="theme-color" content="#fa9a00"/>
    {#  TODO: get a favicon  #}
    {#    <link rel="icon" href="{{ url_for('static', filename='images/brand-logo-favicon.png') }}">#}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/superhero/bootstrap.min.css"
          integrity="sha384-HnTY+mLT0stQlOwD3wcAzSVAZbrBp141qwfR4WfTqVQKSgmcgzk+oP0ieIyrxiFO" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/utilities.js') }}"></script>
</head>
<body>


<script>
</script>

<!-- Extension div -->
<div class="container-fluid" id="content-block-container">
    {% block container %}{% endblock %}
</div>

</body>
</html>