{% extends 'base.html' %}

{% block container %}
    <title>Orbit Mapper</title>

    <div class="container-fluid" id="sidebar-container">
        <div class="row flex-nowrap">
            <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
                <div class="d-flex flex-column min-vh-100">
                    <h3>Orbit mapper</h3>
                    <br>

                    <p>Select your asteroids</p>

                </div>
            </div>
            <div class="col py-3">

            </div>
        </div>
    </div>

{% endblock %}