{% extends 'base.html' %}

{% block container %}
    <title>Orbit Mapper</title>
    <script src="https://cdn.plot.ly/plotly-2.4.2.min.js"></script>
    <script src="{{ url_for('static', filename='js/modules/viewer_traces.js') }}"></script>
    <script src="{{ url_for('static', filename='js/viewer.js') }}"></script>


    <div class="container-fluid" id="content-container">
        <div class="row flex-nowrap">
            <!-- Sidebar content -->
            <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
                <div class="d-flex flex-column min-vh-100">
                    <h3 class="sidebarTitle">Orbit mapper</h3>
                    <hr>

                    <div class="container-fluid sidebarInputGroup">
                        <label for="asteroidStartInput" class="form-label">Starting asteroid</label>
                        <select class="js-example-basic-multiple sidebarInput" id="asteroidStartInput"
                                multiple="multiple"></select>
                    </div>

                    <div class="container-fluid sidebarInputGroup">
                        <label for="asteroidTargetInput" class="form-label">Target asteroids</label>
                        <select class="js-example-basic-multiple sidebarInput" id="asteroidTargetInput"
                                multiple="multiple"></select>

                    </div>

                    <div class="container-fluid sidebarInputGroup">
                        <label for="heuristicInput" class="form-label">Select heuristic used to calculate
                            route</label>
                        <select class="js-example-basic-single sidebarInput" name="state" id="heuristicInput">
                            <option value="distance">Closest target</option>
                        </select>
                    </div>

                    <hr>
                    <div class="container-fluid sidebarInputGroup">
                        <button class="btn btn-primary sidebarBtn" type="button" id="addAsteroidBtn">
                            Calculate route
                        </button>
                    </div>

                </div>
            </div>

            <!-- 3D view content -->
            <div class="col py-3" id="view-container">
                <div id="view"></div>
            </div>

            <!-- Details content -->
            <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
                <h3 class="sidebarTitle">Route details</h3>
                <hr>

                <div class="container-fluid sidebarInputGroup">
                    <div class="card text-center">
                        <div class="card-body">
                            <h5 class="card-title" id="route-title">From X to Y</h5>
                            <ul class="list-group list-group-flush card-list">
                                <li class="list-group-item">
                                    <p class="card-text" id="route-time">2 hours, 5 minutes</p>
                                </li>
                                <li class="list-group-item">
                                    <p class="card-text" id="route-distance">100 million kilometer</p>
                                </li>
                                <li class="list-group-item">
                                    <p class="card-text" id="route-heuristic">Fuel based heuristic</p>
                                </li>
                                <li class="list-group-item">
                                    <p class="card-text" id="route-path">104 --> 13 --> 1 --> 44</p>
                                </li>
                            </ul>

                        </div>
                        <div class="card-footer">
                            <small class="text-muted" id="route-timestamp">Calculated at 26-9-2021 21:11</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script>
            $(document).ready(function () {
                    document.querySelector('#addAsteroidBtn').addEventListener("click", (e) => {
                        let urlBase = "{{ url_for('get_routes_calculated') }}";
                        createAsteroidViewer(urlBase);
                    });


                    $("#asteroidStartInput").select2({
                        placeholder: "Enter asteroid ID",
                        theme: "bootstrap-5",
                        containerCssClass: "select2--small", // For Select2 v4.0
                        width: 'style',
                        tags: true,
                        tokenSeparators: [',', ' '],
                        maximumSelectionLength: 1,
                        createTag: function (params) {
                            let term = $.trim(params.term);

                            if (term === '' || !isInt(term)) {
                                return null;
                            } else if (parseInt(term, 10) > 250000 || parseInt(term, 10) < 1) {
                                return null;
                            }

                            return {
                                id: params.term,
                                text: params.term
                            }
                        }
                    });

                    $("#asteroidTargetInput").select2({
                        placeholder: "Enter asteroid ID",
                        theme: "bootstrap-5",
                        containerCssClass: "select2--small", // For Select2 v4.0
                        width: 'style',
                        tags: true,
                        tokenSeparators: [',', ' '],
                        maximumSelectionLength: 5,
                        createTag: function (params) {
                            let term = $.trim(params.term);

                            if (term === '' || !isInt(term)) {
                                return null;
                            } else if (parseInt(term, 10) > 250000 || parseInt(term, 10) < 1) {
                                return null;
                            }

                            return {
                                id: params.term,
                                text: params.term
                            }
                        }
                    });


                    $('#heuristicInput').select2({
                        width: 'style',
                        theme: "bootstrap-5",
                        containerCssClass: "select2--small", // For Select2 v4.0
                        minimumResultsForSearch: Infinity
                    });
                }
            )
            ;
        </script>
    </div>
{% endblock %}